In [1]:
import pandas as pd
import numpy as np

In [2]:
data=pd.read_csv("Production.csv")

In [3]:
data

  Experience Performance Qualifications Training Promote
0       High   Excellent             PG      Yes     Yes
1       High        Good             PG      Yes     Yes
2     Medium        Good             PG      Yes     Yes
3        Low     Average             UG       No      No
4     Medium     Average             UG       No      No
5        Low        Poor             UG       No      No

In [5]:
concepts=np.array(data)[:,:-1]

In [6]:
concepts

array([['High', 'Excellent', 'PG', 'Yes'],
       ['High', 'Good', 'PG', 'Yes'],
       ['Medium', 'Good', 'PG', 'Yes'],
       ['Low', 'Average', 'UG', 'No'],
       ['Medium', 'Average', 'UG', 'No'],
       ['Low', 'Poor', 'UG', 'No']], dtype=object)

In [14]:
target=np.array(data)[:,-1]

target

In [15]:
target

array(['Yes', 'Yes', 'Yes', 'No', 'No', 'No'], dtype=object)

In [16]:
def train(con,tar):
    for i,val in enumerate(tar):
        if val=='yes':
            specific_h=con[i].copy()
            break
    for i,val in enumerate(con):
        if tar[i]=='yes':
            for x in range(len(specific_h)):
                if val[x]!=specific_h[x]:
                    specific_h[x]='?'
                else:
                    pass
    return specific_h

In [17]:
print(train(concepts,target))

UnboundLocalError: cannot access local variable 'specific_h' where it is not associated with a value