In [1]:
import pandas as pd

In [2]:
data=pd.read_csv("training.csv")

In [3]:
data

     sky air temp humidity    wind water forecast enjoy sport
0  sunny     warm   normal  strong  warm     same         yes
1  sunny     warm     high  strong  warm     same         yes
2  rainy     cold     high  strong  warm   change          no
3  sunny     warm     high  strong  warm   change         yes

In [4]:
x=data.iloc[:, :-1].values

In [5]:
y=data.iloc[:, -1].values

In [6]:
for i in range(len(y)):
    if y[i].strip().lower()=='yes':
        s=x[i].copy()
        break

In [13]:
G=[['?' for _ in range(len(s))]]
for i in range(len(x)):
    if y[i].strip().lower()=='yes':
        for j in range(len(s)):
            if x[i][j]!=s[j]:
                s[j]='?'
        G=[g for g in G if all(g[k]=='?' or g[k]==s[k] for k in range(len(s)))]
    else:
        new_G = []
        for g in G:
            for j in range(len(s)):
                if g[i]=='?' and s[j]!=x[i][j]:
                    temp = g.copy()
                    temp[j] = s[j]
                    if temp not in new_G:
                        new_G.append(temp)
        if new_G:
            G = new_G

print("Final S:", s)
print("Final G:", G)

Final S: ['sunny' 'warm' '?' 'strong' 'warm' '?']
Final G: [['sunny', '?', '?', '?', '?', '?'], ['?', 'warm', '?', '?', '?', '?'], ['?', '?', '?', '?', '?', '?']]